<div class="row ">
  <div class="carousel-container col-md-8 mx-auto">
    <div class="carousel-wrap">
      <carousel>
        <slide>
          <img class="img-fluid" src="assets/images/map.png" alt="A map">
          <div class="carousel-caption">
            <h3><a href="">A neighborhood map of Downtown Las Vegas powered by a REST API</a></h3>

          </div>
        </slide>
        <slide>
          <img class="img-fluid" src="assets/images/mernblog.png" alt="A blog">
          <div class="carousel-caption">
            <h3><a href="">A blog made with the MERN stack</a></h3>

          </div>
        </slide>
        <slide>
          <img class="img-fluid" src="assets/images/dog-hero.png" alt="A dog store">
          <div class="carousel-caption">
            <h3><a href="">A front end template made for a UK pet company</a></h3>

          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
