/* You can add global styles to this file, and also import other style files */
//@import '../app/components/header/header.component';
//@import '../app/components/portfolio-carousel/portfolio-carousel.component'; //@import '../app/AppComponent/app.component';
@import url('https://fonts.googleapis.com/css?family=Audiowide|Kalam|Merriweather|Tinos');
@import './_variables'; /*
font-family: 'Audiowide', cursive;
font-family: 'Merriweather', serif;
font-family: 'Kalam', cursive;
font-family: 'Tinos', serif;
*/

body {
  font-size: 18px;
  overflow-x: hidden;

  button,
  form,
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: 'Merriweather', serif;
  }

  h2 {
    font-size: 180%;
  }

  nav a {
    font-size: 120%;
  }

  .header-body h3 {
    font-size: 250%;
  }

  .header-body h5 {
    font-size: 140%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .skills-wrap h3 {
    font-size: 130%;
  }

  .contact-form,
  .footer,
  .need-help,
  .skill-inner,
  .what-i-do {
    color: $darkGray;
  }

  p {
    font-size: 1.2em;
  }
}
