@import '../../../sass/_variables';

.footer {
  background: #0ED0FF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 9em;

  .fa {
    color: $darkGray;
    border: 1px solid black;
    padding: 10px;
  }

  .social-inner {
    display: flex;

    a {
      padding-left: 10px;
    }
  }
}
@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }

  .about-page {
    padding-top: 20px;
  }
}
