//
@import '../../../sass/variables';
@import url( 'https://fonts.googleapis.com/css?family=Audiowide|Kalam|Merriweather|Tinos');

.header-body {
  h3,
  h4,
  h5,
  p {
    font-family: 'Kalam', cursive;
  }

  h3 {
    font-size: 3em;
  }

  h5 {
    font-size: 1.7em;
  }
}

.header {
  min-height: 770px;

  .header-body {
    top: 50%;
    transform: translateY(80%);
  }

  ,
  h3,
  h5 {
    color: $fontColor;
  }
}

%background-shared {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg {
  background-image: url('../../../assets/images/glow.jpg');
  @extend %background-shared;
}

.about-bg {
  background-image: url('../../../assets/images/bulb.jpg');
  @extend %background-shared;
}
