//
@import '../../../sass/variables';
@import url('https://fonts.googleapis.com/css?family=Audiowide|Kalam|Merriweather|Tinos');

.header-body {
  min-height: 310px;
  position: relative;

  h3,
  h4,
  h5,
  p {
    font-family: 'Kalam', cursive;
  }
}
//conditional heights that depend on the header bg image

.home-height {
  min-height: 770px;
}

.about-height {
  min-height: 600px;
}

.contact-height {
  min-height: 600px;
}

.port-height {
  min-height: 600px;
}

%background-shared {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
//backgrounds for each page

.home-bg {
  background-image: url("../../../assets/images/glow.jpg");
  @extend %background-shared;
}

.about-bg {
  background-image: url("../../../assets/images/basketball.jpg");
  @extend %background-shared;
}

.contact-bg {
  background-image: url("../../../assets/images/email.png");
  @extend %background-shared;
}

.port-bg {
  background-image: url("../../../assets/images/port-bg.jpg");
  @extend %background-shared;
}

.header h2,
a,
h3,
h5 {
  color: white;
}
//handles initial h2/navlinks/center text about each page

.title-nav-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 39px;

  ul {
    list-style: none;
  }

  .nav a {
    padding: 20px;
  }

  h2 {
    font-family: 'Audiowide', cursive;
  }

  .nav {
    font-family: 'Merriweather', serif;
  }

  .nav-btn {
    color: white;
  }

  .mobile-nav,
  .nav-btn-wrap {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-body {
    top: 50%;
    transform: translateY(-40%);
  }

  .nav {
    width: 35%;

    .large-nav {
      display: none;
    }

    .mobile-nav {
      width: 100%;
      z-index: 10;
      background: #343a40;
    }
    //  transform: translateX(200%);
    a {
      display: block;
      padding: 10px 0;
      border: 1px solid white;
    }
  }

  .nav-btn-wrap {
    position: relative;
    right: 15%;
    height: 50px;
  }

  .mobile-nav,
  .nav-btn-wrap {
    display: block !important;
  }
}
@media screen and (min-width:769px) {
  .header-body {
    transform: translateY(50%);
  }
}
