//
@import '../../../sass/variables';
@import url('https://fonts.googleapis.com/css?family=Audiowide|Kalam|Merriweather|Tinos');

.header-body {
  h3,
  h4,
  h5,
  p {
    font-family: 'Kalam', cursive;
  }

  h3 {
    font-size: 4em;
  }

  h5 {
    font-size: 1.7em;
  }

  .home-header {
    position: relative;
    top: 50%;
    transform: translateY(50%);
  }

  .about-header,
  .contact-header,
  .portfolio-header {
    position: relative;
    top: 90%;
    transform: translateY(90%);
  }
}
//conditional heights that depend on the header bg image

.home-height {
  min-height: 770px;
}

.about-height {
  min-height: 600px;
}

.contact-height {
  min-height: 600px;
}

.port-height {
  min-height: 600px;
}

%background-shared {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
//backgrounds for each page

.home-bg {
  background-image: url("../../../assets/images/glow.jpg");
  @extend %background-shared;
}

.about-bg {
  background-image: url("../../../assets/images/basketball.jpg");
  @extend %background-shared;
}

.contact-bg {
  background-image: url("../../../assets/images/email.png");
  @extend %background-shared;
}

.port-bg {
  background-image: url("../../../assets/images/port-bg.jpg");
  @extend %background-shared;
}

.header h2,
a,
h3,
h5 {
  color: white;
}
//handles initial h2/navlinks/center text about each page

.title-nav-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 39px;

  ul {
    list-style: none;
  }

  .nav a {
    padding-left: 12px;
  }

  h2 {
    font-family: 'Audiowide', cursive;
    font-size: 2em;
  }

  .nav {
    font-family: 'Merriweather', serif;

    a {
      font-size: 1.5em;
    }
  }
}
