<div class="row">
  <div [ngClass]="{'home-bg' : currBackground == 'home', 'about-bg' : currBackground == 'about', 'contact-bg' : contactPage,
'port-bg' : portfolioPage }" class="col-md-12">
    <!-- class="row"-->
    <section [ngClass]="{ 'home-height' : homePage, 'about-height' : aboutPage,
  'contact-height' : contactPage, 'port-height':portfolioPage }" class="header">

      <div class=" row ">
        <div class="title-nav-wrap col-md-12 ">
          <div class="title ">
            <a routerLink="/home"><h2 class="text-md-center ">Lucid Web Dream</h2></a>
          </div>
          <div class="nav">
            <nav class="large-nav">
              <a routerLink="/home">Home</a>
              <a routerLink="/portfolio">Portfolio</a>
              <a routerLink="/about">About</a>
              <a routerLink="/contact">Contact</a>
            </nav>
            <nav class="mobile-nav" [@flyInOut]='state'>
              <a routerLink="/home" role="button">Home</a>
              <a routerLink="/portfolio" role="button">Portfolio</a>
              <a routerLink="/about" role="button">About</a>
              <a routerLink="/contact" role="button">Contact</a>
            </nav>
          </div>
          <div class="nav-btn-wrap" (click)="toggleClass()">
            <i class="fa fa-3x nav-btn" [ngClass]="{'fa-times-circle' : !navOpen, 'fa-bars' : navOpen}" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="header-body mx-auto">
          <div *ngIf="homePage" class="home-header">
            <h3>Hello, I'm Chris.</h3>
            <h5>Front end developer.</h5>
            <h5>Lover of writing JavaScript.</h5>
            <h5>Lover of coffee.</h5>
          </div>
          <div *ngIf="aboutPage " class="about-header">
            <h3>About me</h3>
          </div>
          <div *ngIf="contactPage" class="contact-header">
            <h3>Contact</h3>
          </div>
          <div *ngIf="portfolioPage" class="portfolio-header">
            <h3>Projects</h3>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
