@import '../../../sass/_variables';

.check-portfolio {
  background: #0ED0FF;
  color: $darkGray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 14em;

  h3 {
    padding-right: 25px;
  }

  .check-port-btn {
    background: #495057;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    font-weight: 600;
  }
}
