<div class="contact-wrap">

  <form #contactForm="ngForm" class="contact-form mx-auto" (ngSubmit)="onSubmit()">

    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="model.name" name="name">
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="model.email" name="email">
    <label for="message">Message</label>
    <textarea name="" id="message" cols="30" rows="4" [(ngModel)]="model.message" name="message"></textarea >
    <input type="submit" class="contact-submit">

  </form>
</div>
