@import '../../../sass/_variables';

.contact-wrap {
  padding: 30px 0;

  form {
    color: $darkGray;
    width: 60%;
    margin: 0 auto;

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
    }

    label {
      padding-top: 10px;
    }

    .contact-submit {
      margin-top: 10px;
      background: $darkGray;
      border: none;
      color: white;
    }
  }
}
