.posts-wrap {
  margin: 5% auto;

  .post-item {
    cursor: pointer;
    margin-top: 3%;
    grid-row-gap: 10px;
    display: grid;

    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 0.9rem;
    }

    p {
      font-family: 'Open-Sans', sans-serif;
      font-size: 1.2rem;
    }
  }

  a.read-more {
    color: darkgray;
  }
}