.project-container {
  padding: 40px 0;

  .project-inner {
    width: 100%;
    position: relative;

    img {
      transition: 0.5 ease;
      backface-visibility: hidden;
      display: block;
    }

    .middle {
      transition: 0.5 ease;
      opacity: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      cursor: pointer;
    }

    &:hover img {
      opacity: 0.3;
    }

    &:hover .middle {
      opacity: 1;
    }

    .project-name {
      text-align: center;
    }

    .text {
      text-align: center;
    }
  }

  .project,
  .project-name {
    padding-top: 15px;
  }
}
