<div class="row">
  <div class="skills-wrap col-md-12 ">
    <div class="skill-js">
      <div class="row">
        <div class="what-i-do col-md-12 text-center">
          <h1>What I do</h1>
        </div>
        <div class="skill skill-js col-md-4 ">

          <h3><em class="icon-js"></em> JavaScript</h3>
          <h3><em class="icon-nodejs"></em> NodeJS</h3>
          <h3><em class="icon-react"></em> ReactJS</h3>
        </div>
        <div class="skill skill-sass col-md-4 ">
          <h3><em class="icon-sass"></em> Sass</h3>
          <h3><em class="icon-css3"></em> CSS</h3>
          <h3><em class="icon-bootstrap"></em> Responsive design</h3>

        </div>
        <div class="skill skill-html col-md-4 ">

          <h3><em class="icon-html5"></em> HTML</h3>
          <h3><em class="icon-gulp"></em> Gulp/Webpack</h3>
          <h3><em class="icon-angular"></em> Angular/AngularJS</h3>

        </div>
      </div>
    </div>
  </div>
