<div class="row">
  <div class="skills-wrap col-md-12">
    <div class="skill-js">
      <div class="row">
        <div class="what-i-do col-md-12 text-center">
          <h1>What I do</h1>
        </div>
        <div class="skill skill-js col-md-4 ">
          <div class="skill-inner">
            <h2><em class="icon-js"></em> JavaScript </h2>
            <h2><em class="icon-nodejs"></em> NodeJS </h2>
            <h2><em class="icon-react"></em> ReactJS </h2>
          </div>
        </div>
        <div class="skill skill-sass col-md-4 ">
          <div class="skill-inner">

            <h2><em class="icon-sass"></em> Sass</h2>
            <h2><em class="icon-css3"></em> CSS</h2>
            <h2><em class="icon-bootstrap"></em> Responsive design</h2>
          </div>
        </div>
        <div class="skill skill-html col-md-4 ">
          <div class="skill-inner">
            <h2><em class="icon-html5"></em> HTML</h2>
            <h2><em class="icon-gulp"></em> Gulp/Webpack</h2>
            <h2><em class="icon-angular"></em> Angular/AngularJS</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
