<div class="row">
  <div class="about-snippet col-md-12">
    <img class="my-pic img-fluid" src="./assets/compressed/images/about-pic.png" alt="mypic" />
    <p>I am a coffee drinking foodie who likes to bring a design or web application to life. I've traveled across Asia to places such as Bali, Tokyo, Thailand, Seoul, and Taiwan. </p>
  </div>
  <div class="main-about col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-12">
    <div class="main-inner">
      <h2 class="text-center">My story</h2>
      <p class="about-body mx-auto">
        After graduating from UNLV in 2013, I started my career doing technical support for businesses where I would help business owners troubleshoot their internet, telephone, or video service. After almost 3 years of technical support, I was ready for a new
        experience. So I went abroad to teach English in South Korea. This was a remarkable experience that I'll never forget. It gave me a new perspective on life. While I was teaching English, I also became passionate about my hobby of making web applications
        and coding. At the start of 2016, I started to put more time into studying web development via multiple online course platforms such as Udacity.com, freecodecamp.com, codeacademy.com, and codeschool.com. During my journey, I learned about many
        useful concepts in the field of front/backend development and as of November 7th, 2017, I have completed over 20 personal projects with 1 professional project.
      </p>

    </div>
  </div>
</div>