@import '../../../sass/_variables';

.about-snippet {
  background: $blueBg;
  display: flex;
  justify-content: space-evenly;
  color: $darkGray;
  align-items: center;

  .my-pic {
    padding: 40px 0;
    width: 140px;
  }

  p {
    width: 60%;
    line-height: 2.5;
    font-weight: 500;
  }
}

.main-about {
  .about-body {
    width: 55%;
    line-height: 2;
  }

  .main-inner {
    padding: 45px 0;
  }
}
